<header>Page Header

    <ul>
        <% if (locals.user) { %>
            <li>Welcome <a href="/users/profile"><%= user.name %></a></li>
            <li><a href="/users/sign-out"> SignOut</a></li>
        <% } else { %>
            <li><a href="/users/sign-in"> SignIN</a></li>
            <li><a href="/users/sign-up"> SignUP</a></li>
        <% } %>
    </ul>

</header>