<header>
    <% if (locals.user) { %>
        <h1>Welcome <a href="/users/profile">
                <%= user.name %>
            </a></h1>
        <ul>
            <li><a href="/users/sign-out"> SignOut</a></li>
        </ul>
    <% } else { %>
            <h1>Codeial</h1>
            <ul>
                <li><a href="/users/sign-in"> SignIN</a></li>
                <li><a href="/users/sign-up"> SignUP</a></li>
            </ul>
    <% } %>

</header>