<link rel="stylesheet" href="css/home.css">
<h1>
    Hello Codeial
</h1>

<% if (locals.user) { %>
    <section id="feed-posts">
        <form action="posts/create-post" method="post" id="new-post-form">
            <textarea name="content" id="" cols="30" rows="3"></textarea>
            <input type="submit" value="submit">
        </form>

        <div id="post-list-container">
            <ul id="post-list">
                <% for (post of posts) { %>
                    <li>
                        <p>
                            <%= post.content %>
                        </p>
                        <p>
                            <%= post.user.name %>
                        </p>
                    </li>
                <% } %>
            </ul>
        </div>

    </section>
<% } %>